
html, body {
  margin : 0;
  padding : 0;
  }
  body {
  background-color : mediumseagreen;
  }
  nav {
  background-color : green;
  height : 39px;
  }
  nav a {
  display : block;
  color : white;
  text-decoration : none;
  width : 200px;
  padding : 5px 20px;
  float : left;
  text-align : center;
  }
  nav a:hover {
  background-color : rgb(2, 39, 2);
  }
  h1 {
  clear : both;
  padding : 30px;
  color : rgb(19, 218, 78);
  margin : 0;
  margin-bottom : 35px;
  }
  img {
  max-width : 100%;
  }
  .sansserif {
  font-family : Arial, Helvetica, sans-serif;
  }
  .serif {
  font-family : "Times New Roman", Times, serif;
  }
  footer {
  background-color : rgb(0, 0, 0);
  color : white;
  }
  main {
  padding : 0 1%;
  }
  section {
  width : 23%;
  float : left;
  padding : 20px;
  box-sizing : border-box;
  margin : 0 1%;
  }
  footer {
  clear : left;
  }
  